<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eventb.codegen.templates.generator" name="templateGenerator" schema="schema/org.eventb.codegen.templates.generator.exsd"/>
   <extension
         point="org.eventb.codegen.templates.generator">
      <templateGenerator
            GeneratorClass="org.eventb.codegen.templates.impl.InitialisationsListGenerator"
            tag="initialisationsList">
      </templateGenerator>
   </extension>
   <extension
         point="org.eventb.codegen.templates.generator">
      <templateGenerator
            GeneratorClass="org.eventb.codegen.templates.impl.FmiInstantiateGenerator"
            tag="fmiInstantiate">
      </templateGenerator>
   </extension>

</plugin>
