<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eventb.codegen.templates.generator">
      <templateGenerator
            GeneratorClass="org.eventb.codegen.scheduler.extensions.SchedulerGenerator"
            tag="org.eventb.codegen.scheduler.extensions.templateGenerator1">
      </templateGenerator>
   </extension>
   <extension
         point="org.eventb.codegen.templates.tag">
      <tagCommentCharacters
            tagCommentCharacters="//##"></tagCommentCharacters>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="SchedulerSelection"
            objectClass="org.eventb.core.IEventBRoot">
         <action
               class="org.eventb.codegen.scheduler.extensions.TranslateToEventB_JScheduler"
               id="org.eventb.codegen.translation.menu1.action.TranslateToEventB_JScheduler"
               label="Translate to Scheduled EventB"
               menubarPath="org.eventb.codegen.translation.menu1/groupA">
         </action>
      </objectContribution>
   </extension>
   <extension
         name="IL1"
         point="org.eventb.codegen.tasking.translator">
      <emfPackage
            TargetOutput="IL1"
            name="EventBCore Machine"
            nsURISource="http://emf.eventb.org/models/core/machine">
         <taskingTranslator
               name="Machine"
               sourceClass="Machine"
               taskingTranslatorClass="org.eventb.codegen.scheduler.extensions.TranslateEventBToIL1">
         </taskingTranslator>
      </emfPackage>
   </extension>
  

</plugin>
